@page "/client-planning"
@using BlazorApp.Services
@inject ClientApiService ClientApiService
@using BlazorApp.Components
@inherits PlanningBase

<PageTitle>Client Shift Planning Chart</PageTitle>
<h1>Client Shift Planning Chart</h1>

@if (ShiftPlanningDtos is null || !ShiftPlanningDtos.Any())
{
    <SfSpinner @bind-Visible="@VisibleProperty" CssClass="e-spin-overlay">
    </SfSpinner>
}
else
{
    <PlanningChartComponent  ReloadComponent="ReloadComponent" ColumnHeaderText="Client Shift" ShiftPlanningDtos="@ShiftPlanningDtos"></PlanningChartComponent>
}