@page "/shift-planning"
@using BlazorApp.Components
@using BlazorApp.Services
@inject EmployeeApiService EmployeeApiService
@inject ShiftApiService    ShiftApiService

<PageTitle>Planning Chart</PageTitle>
<h1>Planning Chart</h1>

@if (ShiftPlanningDtos is null || !ShiftPlanningDtos.Any())
{
    <SfSpinner @bind-Visible="@VisibleProperty" CssClass="e-spin-overlay">
    </SfSpinner>
}
else
{
    <PlanningChartComponent ShiftPlanningDtos="@ShiftPlanningDtos"></PlanningChartComponent>
}