@page "/shift-planning"
@using BlazorApp.Components
@using BlazorApp.Services
@inject EmployeeApiService EmployeeApiService
@inherits PlanningBase

<PageTitle>Employee Shift Planning Chart</PageTitle>
<h1>Employee Shift Planning Chart</h1>

@if (ShiftPlanningDtos is null || !ShiftPlanningDtos.Any())
{
    <SfSpinner @bind-Visible="@VisibleProperty" CssClass="e-spin-overlay">
    </SfSpinner>
}
else
{
    <PlanningChartComponent ReloadComponent="ReloadComponent"  ColumnHeaderText="Employee Shift" ShiftPlanningDtos="@ShiftPlanningDtos"></PlanningChartComponent>
}